<nz-divider nzDashed [nzText]="text">
  <ng-template #text>
    <i nz-icon nzType="file-done" nzTheme="outline"></i>
    Información General
  </ng-template>
</nz-divider>
<nz-descriptions nzLayout="vertical" *ngFor="let item of dataGeneral">
  <nz-descriptions-item nzTitle="ID">{{ item.CustomerId }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Nombre">{{ item.Name }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email">{{ item.EmailAddress }}</nz-descriptions-item>
</nz-descriptions>
<nz-divider nzDashed [nzText]="text2">
  <ng-template #text2>
    <i nz-icon nzType="file" nzTheme="outline"></i>
    Detalles Facturación
  </ng-template>
</nz-divider>
<nz-table #sortTable [nzData]="dataSale" nzTableLayout="fixed">
  <thead>
  <tr>
    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
      {{ column.title }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sortTable.data">
    <td>{{data.CustomerId}}</td>
    <td>{{data.SaleID}}</td>
    <td class="list-general-col">
      <div class="list-container">
        <ul class="list-invoice" *ngFor="let list of data.Lines, last as isLast">
          <li><span class="list-strong">Producto:  </span>{{ (list.ProductId | product).Name }}
            <span>Cantidad: </span> {{ list.Units }}</li>
          <li><span class="list-strong">Precio Uni: </span> $ {{ (list.ProductId | product).Price }}</li>
          <li><span class="list-strong">SubTotal: </span> $ {{ (list.ProductId | product).Price * list.Units }}</li>
        </ul>
      </div>
    </td>
    <td>
      <h2>{{
        sumTotal(data.SaleID)
        }}</h2>
    </td>
  </tr>

  </tbody>
</nz-table>
